@charset "utf-8";
@import url("default.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body, 
html {
    font-size: 12px;
    font-family: serif;
    font-family: "Noto Sans KR'", sans-serif;
    color: #222;
}

html {
    overflow-y: hidden;
}

a {
    color: #222;
}

/* -- header -- */
#header {
    position: relative;
    width: 100%;
    height: 40px;
    z-index: 1000;
}

#header .header_wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 0px;
    position: relative;
    z-index: 100;
    box-sizing: border-box;
}

#header .header_wrapper .logo {
    width: 70px;
    height: 40px;
}

#header .header_wrapper .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/logo.svg") no-repeat;
    background-size: contain;
    text-indent: -99999px;
}

#header .header_wrapper button {
    background: transparent;
    cursor: pointer;
}

#header .header_wrapper button span {
    display: block;
    width: 40px;
    height: 4px;
    background: #222;
    margin: 5px 0;
    transition: all 0.3s;
}

#header .header_wrapper button.active .b1 {
    transform: translate(0px, 5px) rotate(45deg);
}

#header .header_wrapper button.active .b2 {
    display: none;
}

#header .header_wrapper button.active .b3 {
    transform: translate(0px, -5px)rotate(-45deg);
}

/* -- nav --*/
.menu {
    position: absolute;
    left: 0;
    top: -100vh;
    width: 100%;
    height: 0;
    background: #fff;
    z-index: 10;
    padding-top: 70px;
    transition: all 0.4s;
    overflow: hidden;
}

.menu.on {
    top: 0;
    height: calc(100vh - 200px);
}

.menu .menu_wrap {
    max-width: 1280px;
    padding: 0px 10px;
    margin: 80px auto;
}

.menu .menu_wrap>ul {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 30px;
    position: relative;
}

.menu .menu_wrap>ul>li>a {
    font-size: 1.7rem;
    font-weight: 700;
}

.menu .menu_wrap>ul>li>a>span {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    color: #999;
    padding-top: 5px;
}

.menu .sub {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 400px;
    top: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.menu .sub>ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.menu .sub>ul::after {
    display: block;
    content: '';
    height: 432px;
    width: 1px;
    background: #ccc;
    position: absolute;
    left: -100px;
    top: 0;
}

.menu .sub>ul>li>a {
    font-size: 1.5rem;
    font-weight: 500;
}

.menu .sub>a {
    font-size: 1.5rem;
    font-weight: 500;
}

.menu .sub>.sub1 {
    margin-bottom: 60px;
}

.menu .sub>.sub2 {
    margin-bottom: 60px;
}

.menu .sub.stella>.sub2 {
    margin-bottom: 0;
}

.menu .sub .total {
    position: absolute;
    left: 400px;
    top: 50%;
    transform: translateY(-50%);
}

.menu .sub .total>.logo {
    display: block;
    width: 172px;
    height: 30px;
    margin: 0 auto 10px;
    text-indent: -99999px;
}

.menu .originals .total>.logo {
    background: url("../images/original_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .sports .total>.logo {
    background: url("../images/sports_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .terrex .total>.logo {
    background: url("../images/terrex_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .y3 .total>.logo {
    background: url("../images/y3_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .stella .total>.logo {
    background: url("../images/stella_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .plastic .total>.logo {
    background: url("../images/plastic_logo.jpg") no-repeat;
    background-size: contain;
}

.menu .sub .total>.btn {
    display: block;
    width: 110px;
    height: 38px;
    background: #222;
    color: #fff;
    text-align: center;
    line-height: 43px;
    margin: 20px auto 0;
    font-size: 1.2rem;
}

.menu .sns {
    position: absolute;
    right: 5%;
    bottom: 3%;
    display: flex;
    gap: 30px;
}

.menu .sns a {
    display: block;
    height: 25px;
    text-indent: -99999px;
}

.menu .sns .insta {
    width: 25px;
    background: url("../images/insta.svg") no-repeat;
    background-size: contain;
}

.menu .sns .facebook {
    width: 12px;
    background: url("../images/facebook.svg") no-repeat;
    background-size: contain;
}

.menu .sns .twitter {
    width: 31px;
    background: url("../images/twitter.svg") no-repeat;
    background-size: contain;
}

.menu .m_btn {
    display: none;
}

/* -- section -- */
#visual_wrapper>.visual {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

#visual_wrapper>.visual>.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.visual1 {
    background: url("../images/original.jpg") no-repeat center center;
    background-size: cover;
}

.visual2 {
    background: url("../images/sports.jpg") no-repeat center center;
    background-size: cover;
}

.visual3 {
    background: url("../images/terrex.jpg") no-repeat center center;
    background-size: cover;
}

.visual4 {
    background: url("../images/plastic.jpg") no-repeat center center;
    background-size: cover;
}

/* -- visual1 -- */
.visual1 .txt {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.visual1 .txt.on {
    left: 8%;
    opacity: 1;
    transition: all 0.7s ease-out;
}

.visual1 .txt>h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.visual1 .txt>strong {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.visual1 .txt>a {
    display: block;
    font-size: 1.4rem;
    width: 125px;
    height: 50px;
    line-height: 50px;
    background: #222 url("../images/arrow.svg") no-repeat right 15px center;
    color: #fff;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.visual1 .txt>a::after {
    content: '';
    display: block;
    width: 125px;
    height: 50px;
    border: 1px solid #222;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: -1;
}

/* -- visual2 -- */
.visual2 {
    opacity: 0;
    z-index: -1;
}

.visual2 .txt {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.visual2 .txt.on {
    right: 8%;
    opacity: 1;
    transition: all 0.7s ease-out;
}

.visual2 .txt>strong {
    display: block;
    font-style: italic;
    font-size: 3.4rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: right;
}

.visual2 .txt>h2 {
    width: 410px;
    height: 74px;
    background: url("../images/possible.svg") no-repeat;
    background-size: contain;
    text-indent: -99999px;
    margin-bottom: 30px;
}

.visual2 .txt>a {
    display: block;
    font-size: 1.4rem;
    width: 125px;
    height: 50px;
    line-height: 50px;
    background: #fff url("../images/arrowB.svg") no-repeat right 15px center;
    color: #222;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    margin-left: auto;
    margin-right: 5px;
}

.visual2 .txt>a::after {
    content: '';
    display: block;
    width: 125px;
    height: 50px;
    border: 1px solid #fff;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: -1;
}

/* -- visual3 -- */
.visual3 {
    z-index: -1;
    opacity: 0;
}

.visual3 .txt {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.visual3 .txt.on {
    left: 8%;
    opacity: 1;
    transition: all 0.7s ease-out;
}

.visual3 .txt>h2 {
    width: 300px;
    height: 44px;
    background: url("../images/terrex.svg") no-repeat;
    background-size: contain;
    text-indent: -99999px;
    margin-bottom: 30px;
}

.visual3 .txt>strong {
    display: block;
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-weight: 5 00;
}

.visual3 .txt>strong>span {
    display: block;
    margin-bottom: 5px;
}

.visual3 .txt>strong>span:last-of-type {
    margin-bottom: 0;
}

.visual3 .txt>a {
    display: block;
    font-size: 1.4rem;
    width: 125px;
    height: 50px;
    line-height: 50px;
    background: #222 url("../images/arrow.svg") no-repeat right 15px center;
    color: #fff;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
}

.visual3 .txt>a::after {
    content: '';
    display: block;
    width: 125px;
    height: 50px;
    border: 1px solid #222;
    box-sizing: border-box;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: -1;
}

/* -- visual3 -- */
.visual4 {
    opacity: 0;
    z-index: -1;
}

.visual4 .txt {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.visual4 .txt.on {
    top: 50%;
    opacity: 1;
    transition: all 0.6s ease-out;
}

.visual4 .txt>strong {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto 40px;
    background: url("../images/plasticlogo.svg") no-repeat;
    background-size: contain;
    text-indent: -99999px;
}

.visual4 .txt>h2 {
    text-align: center;
}

.visual4 .txt>h2>span {
    display: block;
    font-size: 6.2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.visual4 .txt>a {
    display: block;
    text-align: center;
    font-size: 2.4rem;
    color: #fff;
    font-weight: 500;
    background: url("../images/arrow.svg") no-repeat right 80px center;
}

/* -- page nate -- */
.pagenate {
    position: absolute;
    left: 8%;
    bottom: 5%;
    display: flex;
    z-index: 10;
}

.pagenate a {
    display: block;
    margin-right: 15px;
    font-size: 2rem;
    font-weight: 500;
    color: #999;
}

.pagenate a:last-of-type {
    margin-right: 0;
}

.pagenate a.active {
    color: #fff;
}

/* -- footer -- */
#footer {
    position: absolute;
    bottom: 2%;
    right: 3%;
    z-index: 10;
}

#footer a {
    color: #fff;
    font-size: 1.3rem;
}

@media screen and (max-width:1024px) {

    #header .header_wrapper {
        max-width: 100%;
    }

    .menu .menu_wrap {
        max-width: 600px;
    }

    .menu .sub>ul {
        gap: 10px
    }
    .menu .sub>.sub1 {
        margin-bottom: 40px;
    }
    .menu .sub>.sub2 {
        margin-bottom: 40px;
    }
    .menu .sub .total {
        display: none;
    }

    .menu .sub>a.m_btn {
        display: block;
        color: #222;
        font-size: 1.5rem;
        position: relative;
        top: 50px;
        font-weight: 700;
    }
}

@media screen and (max-width:640px) {
    #header .header_wrapper {
        max-width: 100%;
        padding: 30px 20px;
    }
    .menu {
        padding-top: 0;
    }
    .menu.on {
        height: 100vh;
    }
    .menu .menu_wrap {
        max-width: 330px;
        margin-top: 150px;
    }
    .menu .sub>ul::after {
        display: none;
    } 
    .menu .sub {display: none !important;}
    .visual1 {
        background: url("../images/original.jpg") no-repeat left 40% center;
        background-size: cover;
    }

    .visual1 .txt>h2 {
        font-size: 2.6rem;
    }

    .visual1 .txt>strong {
        font-size: 1.2rem;
    }

    .visual2 .txt>strong {
        font-size: 2.4rem;
    }

    .visual2 .txt>h2 {
        width: 250px;
        height: 45px;
        background: url("../images/possible.svg") no-repeat;
        background-size: contain;
        text-indent: -99999px;
        margin-bottom: 30px;
    }

    .visual3 {
        background: url("../images/terrexH.jpg") no-repeat left 15% center;
        background-size: cover;
    }

    .visual3 .txt>h2 {
        background: url("../images/terrexW.svg") no-repeat;
        background-size: contain;
        margin-left: auto;
        width: 250px;
        height: 37px;
    }

    .visual3 .txt>strong {
        font-size: 1.4rem;
        color: #fff;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    }

    .visual3 .txt>strong>span>span {
        display: block;
        margin-bottom: 5px;
    }


    .visual3 .txt>a {
        color: #222;
        background: #fff url("../images/arrowB.svg") no-repeat right 15px center;
    }

    .visual3 .txt>a::after {
        border: 1px solid #fff;
    }

    .visual4 .txt>strong {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    .visual4 .txt>h2>span {
        display: block;
        font-size: 4rem;
        color: #fff;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .visual4 .txt>a {
        background: url("../images/arrow.svg") no-repeat right 45px center;
        font-size: 1.8rem;
    }

    .pagenate {
        left: 50%;
        bottom: 6%;
        transform: translateX(-50%);
    }

    .pagenate a {
        margin-right: 10px;
        font-size: 1.4rem;
        font-weight: 500;
    }

    #footer {
        width: 100%;
        position: absolute;
        bottom: 1%;
        right: 50%;
        transform: translateX(50%);
        text-align: center;
    }

    #footer a {
        color: #fff;
        font-size: 1.2rem;
    }
}